
<%= render 'template' %>

<%= render 'today' if @today_tasks > 0  %>
<table id="results" class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Dute date</th>    
    <th>Actions</th>
  </tr>

  <%= render @tasks %>
</table>


<%= render 'new' %>